// Player Container

.player-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
// #player-container {
//   position: absolute;
//   top: 0px;
//   left: -60px;
//   width: ~"calc(100% + 60px)";
//   height: 100%;
//   background-color: black;

//   .query-tiny({
//     border-radius: 0;
//     left: 0;
//     width: 100%;
//   });
// }
