// Player Info

.player-info {
  position: relative;
  z-index: @zindex-player-info;

  .query-tiny({
    height: 100%;
    padding: 0 50px 0 20px;
  });

  &-price {
    &:extend(.player-tooltip all);
    &:extend(.player-tooltip-normal all);

    bottom: 20px;
    display: none;
    left: 20px;
    position: absolute;
    user-select: none;
    z-index: 4;

    .blocked & {
      .query-tiny({
        display: block;
      });
    }
  }
}



.player-title {
    &:extend(.player-title-tiny all);

    color: white;
    padding-top: 17px;
}


//

// .video-time {
//   &-current {
//     color: #fff;
//     margin-left: 10px;
//   }

//   &-slash,
//   &-total {
//     color: #aaa;
//   }

//   &-total {
//     .query-tiny({
//       bottom: 20px;
//       position: absolute;
//       right: 20px;
//     });

//     .pause & {
//       opacity: 0;
//     }
//   }
// }