// Player Modal

.player-modal {
  display: none;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  z-index: @zindex-player-modal;

  .query-tiny({
    display: block;
    height: 100%;
    width: 100%;
  });

  .log-screen &,
  .buy-screen &,
  .confirm-screen & {
    .query-tiny({
      pointer-events: initial;
    });
  }

  &-wrapper {
    &:extend(.player-modal-container-tiny all);

    background-color: white;
    color: @color-grey;
    transition: transform .5s @ease-smooth;

    .query-tiny({
      transform: translate3d(0, 100%, 0);
    });

    .log-screen &,
    .buy-screen &,
    .confirm-screen & {
      .query-tiny({
        transition: transform .65s @ease-smooth;
        transform: translate3d(0, 0, 0);
      });
    }
  }

  // Screens

  &-content {  
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, height 0s linear .4s;
    z-index: 2;

    .query-tiny({
      height: 0;
      transform: translate3d(-100%, -100%, 0);
    });

    &--log {
      .log-screen & {
        .query-tiny({
          height: 100%;
          opacity: 1;
          padding-top: 16px;
          pointer-events: initial;
          transform: translate3d(0, 0, 0);
          transition: opacity .25s linear .55s, height 0s;
        });
      }
    }

    &--buy {
      .buy-screen & {
        .query-tiny({
          height: 100%;
          opacity: 1;
          pointer-events: initial;
          transform: translate3d(0, 0, 0);
          transition: opacity .25s linear .55s, height 0s;
        });
      }
    }

    &--confirm {
      .confirm-screen & {
        .query-tiny({
          height: 100%;
          opacity: 1;
          pointer-events: initial;
          transform: translate3d(0, 0, 0);
          transition: opacity .25s linear .55s, height 0s;
        });
      }
    }
  }

  //

  &-button-fullscreen {
    &:extend(.player-button-fullscreen-tiny all);

    opacity: 0;
    transition: opacity .3s;
    z-index: 3;

    svg {
      fill: @color-grey-light;
    }

    .log-screen &,
    .buy-screen &,
    .confirm-screen & {
      .query-tiny({
        opacity: 1;
        transition: opacity .3s linear .7s;
      });
    }
  }

  //

  &-title {
    &:extend(.player-title-tiny all);

    color: @color-grey;
    padding: 17px 25px 0 0;
  }


  &-text {
    margin: 0;

    .player-modal-content--buy & {
      margin-top: 5vw;
    }

    .player-modal-content--confirm & {
      margin: 3vw 0 1.5vw;
    }

    strong {
      color: @color-purple;
      font-weight: 500;
    }

    &-small {
      margin: 0;
    }
  }

  &-pti {
    &:extend(.player-tooltip all);
    &:extend(.player-tooltip-small all);
  }

  &-input {
    background: 0;
    border-bottom: 2px solid @color-grey-light;
    display: block;
    height: 35px;
    padding: 0 33px 0 0;
    transition: border-color .3s;
    width: 100%;

    &.error {
      animation: shakeAnim .5s @ease-smooth;
      border-color: @color-red;
    }

    &.success {
      border-color: @color-green;
    }

    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    &,
    &::placeholder,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
      color: @color-grey-light;
      font-weight: 500;
    }

    &.password {
      margin: 10px 0 0;
    }
  }

  &-link {
    &-forgot {
      &:extend(.hover-opacity all);

      color: @color-grey-light;
      display: inline-block;
      margin-top: 8px;
      text-transform: lowercase;

      &:hover {
        color: @color-grey-light;
      }
    }
  }

  &-footer {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 0 0 20px;
    position: absolute;
    width: 100%;

    &-button {
      &:extend(.hover-opacity all);

      font-weight: 500;
      margin: 0 0 0 20px;
      text-transform: uppercase;
      transition: opacity .25s;

      &--signin,
      &--signup,
      &--continue,
      &--confirm,
      &--approved {
        color: @color-purple;
      }

      &--cancel {
        color: @color-grey-light;
      }

      &--cancel,
      &--confirm {
        .confirm-sending & {
          display: none;
        }

        .confirm-success & {
          display: none;
        }
      }

      &--approved {
        display: none;

        .confirm-success & {
          display: block;
        }
      }
    }

    &-loading {
      display: none;
      font-weight: 500;
      text-transform: uppercase;

      .confirm-sending & {
        animation: blink .5s linear infinite;
        display: block;
      }
    }
  }
}