// Start window

.player-start {
  &:extend(.pos-a-full all);

  background: no-repeat 50% 50%; 
  background-size: cover;
  display: none;
  z-index: @zindex-player-start;

  .query-tiny({
    display: block;
  });

  &-wrapper {
    &:extend(.player-tiny-modal-container all);
  }

  &-button-fullscreen {
    &:extend(.hover-opacity all);
    &:extend(.player-tiny-button-fullscreen all);

    z-index: 7;

    svg {
      fill: white;
    }
  }

  &-title {
    &:extend(.player-tiny-title all);

    color: white;
    position: relative;
    z-index: 3;
  }

  &-price,
  &-time {
    bottom: 20px;
    position: absolute;
    user-select: none;
  }

  &-price {
    &:extend(.player-text-tip all);
    &:extend(.player-text-tip all);
    &:extend(.player-text-tip-normal all);

    left: 20px;
    z-index: 4;
  }

  &-time {
    color: white;
    right: 20px;
    z-index: 5;
  }

  &-button-play {
    &:extend(.pos-a-full all);

    background-color: rgba(0, 0, 0, 0);
    transition: background .4s;
    z-index: 6;

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }

    &-svg {
      transition: transform .5s @ease-smooth;
      width: 35px;

      .player-start-button-play:hover & {
        transform: scale(1.1);
      }
    }
  }
}