

#video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.primary-tag {
  font-family:'Roboto';
  position:relative;
  font-size: 10px;
  left: 10px;
  top: 10px;
  margin: 5px;
  padding: 3px 6px;
  color: white;
  font-weight:bold;
  background-color: @color-orangered;
  border-radius: 3px;
  display: inline-block;
}

.player-uploader {
  font-family:'Roboto';
  font-weight: 300;
  position:absolute;
  font-size: 14px;
  right: 20px;
  top: 20px;
}

.player-description {
  font-family:'Roboto';
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  border-radius: 3px;
}

.player-statistics {
  margin-top: 10px;
}

.player-price {
  font-size: 10px;
  margin-top: 10px;
  padding: 12px;
  color: white;
  font-weight:bold;
  background-color: @color-purple;
  border: 0;
  border-radius: 3px;
  position: relative;
}

.closed {
  width: 0 !important;
  visibility: hidden;
}
